numpy
torch
torchvision
torchaudio
torchtext
opencv-python
transformers
matplotlib
datasets 
jupyter
pandas
tiktoken 
wandb 
tqdm
albumentations
onnxruntime
Pillow
imageio
regex
sounddevice
librosa
gdown
gallery-dl
ultralytics
scikit-learn
scikit-image
acids-ircam
wget
pydantic